body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(135deg, #292929, #303030); /* очень тёмный градиент */
}

h1 {
	text-align: center;
	margin-top: 0px; /* Установлено значение 0 для удаления стандартного отступа для h1 */
	margin-left: -18px; /* Сдвигаем фон влево */
	color: white; /* Цвет шрифта */
	background: linear-gradient(135deg, #333, #666); /* Градиент фона */
	padding: 15px; /* Отступы вокруг текста */
	text-align: center; /* Выравнивание текста по центру */
	border-radius: 5px; /* Скругление углов */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Тень для эффекта глубины */
	width: calc(100% + 23px); /* Увеличиваем ширину фона, чтобы компенсировать сдвиг */
	padding-left: 0px; /* Увеличиваем отступ слева для сдвига текста */
	position: fixed; /* Делаем заголовок липким */
	top: 0; /* Позиция при прокрутке */
	z-index: 10; /* Убедитесь, что заголовок выше других элементов */
	font-size: 20px;
}

.home-icon {
	width: 38px;
	height: 38px;
	margin-right: 15px;
	cursor: pointer;
	vertical-align: middle;
	position: fixed; /* Позиционирование счётчика */
	z-index: 11; /* Убедитесь, что заголовок выше других элементов */
	right: 0px; /* Увеличиваем отступ слева для сдвига текста */
	top: 8px;
}

.home-icon:hover {
	transform: scale(1.1); /* Небольшая анимация при наведении */
}

table {
	border-collapse: separate; /* Меняем с collapse на separate */
	border-spacing: 0 1px;    /* Добавляем пространство между строками */
	width: 80%;
	margin: 24px auto;
	background-color: transparent; /* Делаем фон таблицы прозрачным */
}

tr {
	background-color: #fff;    /* Белый фон для каждой строки */
	margin-bottom: 3px;        /* Отступ между строками */
}

th, td {
	padding: 12px 15px;
	text-align: left;
	border: 1px solid #ddd;    /* Добавляем границу вокруг каждой ячейки */
}

th {
	background-color: #f2f2f2;
	border-bottom: 2px solid #ddd; /* Более заметная граница для заголовков */
}

tbody tr {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень для каждой строки */
	border-radius: 4px;        /* Скругление углов строки */
}

tbody tr:hover {
	background-color: #f5f5f5; /* Цвет при наведении */
}

.active {
	background-color: lightgray;
}

html {
font-size: 90%; /* Уменьшение масштаба на 25% */
}