<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Фискальные регистраторы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fiscals.css') }}">
    <script>
        const defaultVisibleColumns = {{ default_visible_columns|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/fiscals.js') }}"></script>
</head>
<body>
    <div class="header-content">
        <div style="display: flex; align-items: center;">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='home.png') }}" class="home-icon" alt="Home">
            </a>
            <h1>Список фискальных регистраторов</h1>
        </div>
    </div>
    <div class="button-container">
        <button class="download-button" onclick="downloadCSV()">Скачать выбранные</button>
    </div>
    <div class="row-counter" id="row-counter"> 0</div> <!-- Счётчик строк -->
    <table id="data-table">
            <thead>
                <tr>
                    <th><input type="checkbox" onclick="toggleCheckboxes(this)"></th> <!-- Чекбокс для выбора всех -->
                    {% for column in columns %}
                    <th>
                        <div class="column-header">
                            {{ column }}
                            <span class="filter-icon" onclick="showFilterMenu(event, {{ loop.index }})">⯆</span>
                        </div>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
        <br>
        <tbody>
            {% for row in data %}
            <tr class="{{ 'expired-row' if row[-1] else '' }}">
                <td><input type="checkbox"></td> <!-- Чекбокс для каждой строки -->
                {% for index, value in enumerate(row[:-1]) %} <!-- исключаем последний элемент (признак устаревания) -->
                    {% if columns[index] == 'licenses' %}
                        {% if value %}
                            <td><a href="#" onclick="downloadTXT('{{ value }}', 'license.json')">Скачать</a></td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="filter-menu" class="filter-menu">
    <div class="filter-header">Фильтр</div>
    <input type="text" id="filter-input" placeholder="Введите текст для поиска...">
    <select id="filter-type">
        <option value="include">Включающий (содержит)</option>
        <option value="exclude">Исключающий (не содержит)</option>
    </select>
    <div class="filter-buttons">
        <button onclick="applyFilter()">Применить</button>
        <button onclick="clearFilter()">Сбросить</button>
        <button onclick="hideFilterMenu()">Отмена</button>
    </div>
</div>
</body>
</html>