<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Getad_DB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <div class="background-layer"></div>
    <div class="header-container">
        <h1>Getad_DB</h1>
        <a href="{{ url_for('logout') }}" class="logout-icon">
            <img src="{{ url_for('static', filename='logout.png') }}" alt="Logout">
        </a>
        <a href="{{ url_for('settings') }}" class="settings-icon">
            <img src="{{ url_for('static', filename='gear.png') }}" alt="Settings">
        </a>
    </div>
    
    <div class="container">
	  <div class="search-panel" style="flex: 1">
			<h3>Поиск по базе данных ККТ</h3>
			<form action="/search" method="post">
				<div class="flex-container">
					<input type="text" name="search_query" placeholder="Введите запрос" style="flex: 1">
					<button class="button button-primary" type="submit">Поиск</button>
				</div>
			</form>
		</div>	
	
        <div class="card">
            <a href="/fiscals" class="button button-primary">База данных ККТ</a>
            <a href="/expire_fn" class="button button-primary">Истекающие ФН</a>
            <a href="/onlypos" class="button button-danger">Неудачные попытки подключения к ККТ</a>
        </div>

        <div class="card">
            <form id="searchForm" class="search-days" method="post">
                <div class="flex-container">
                    <span>Показать список ККТ, не оправлявших данные более</span>
                    <input type="number" name="search_query" min="1" max="365" placeholder="1" style="width: 80px">
                    <span>дней</span>
                    <button type="submit" class="button button-primary" onclick="submitForm('/dont-update', event)">По дате подключения</button>
                    <button type="submit" class="button button-primary" onclick="submitForm('/dont-validation', event)">По дате валидации</button>
                </div>
            </form>
        </div>

		 <div class="flex-container">
			<div style="flex: 1"></div>
			<div class="delete-panel" style="flex: 1">
				<h3>Удаление ККТ из базы данных</h3>
				<form class="delete-form" onsubmit="event.preventDefault(); deleteFR();">
					<div class="flex-container">
						<input type="text" name="search_query" placeholder="Введите серийный номер ККТ" style="flex: 1">
						<button class="button button-danger" type="submit">Удалить</button>
					</div>
				</form>
			</div>
		</div>
    </div>
</body>
</html>