<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>POS-терминалы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pos.css') }}">
    <script src="{{ url_for('static', filename='js/pos.js') }}"></script>
</head>
<body>
    <div class="header-content">
        <div style="display: flex; align-items: center;">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='home.png') }}" class="home-icon" alt="Home">
            </a>
            <h1>Неудачные попытки подключения к ККТ</h1>
        </div>
    </div>
    <table id="data-table">
        <thead>
            <tr>
                <th>#</th>
                {% for column in columns %}
                <th onclick="sortTable({{ loop.index }})">{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <br><br>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ loop.index }}</td>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
